# Kconfig - Actions iterarator

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig ITERATOR
	bool
	prompt "Actions Iterator Support"
	depends on ACTIONS_UTILS
	default n
	help
	  This option enables actions iterator.


choice
	prompt "play file selector Selection"
	default PLIST_ITERATOR
	depends on ITERATOR

	config FILE_ITERATOR
		bool
		prompt "File Iterator Support"
		depends on ITERATOR
		select FILE_SYSTEM
		help
		  This option enables actions file iterator.
	config PLIST_ITERATOR
		bool
		prompt "File Play List Iterator Support"
		depends on ITERATOR
		select FILE_SYSTEM
		help
		  This option enables actions file play list iterator.

	config BACKGROUND_ITERATOR
		bool
		prompt "File Play List Background scan Iterator Support"
		depends on ITERATOR
		select FILE_SYSTEM
		select MULTI_SCAN_DISK
		help
		  This option enables actions file play list scan in background iterator.

	config DYN_PLIST_ITERATOR
		bool
		prompt "Dynamics File Play List Iterator Support"
		depends on ITERATOR
		select FILE_SYSTEM
		select MULTI_SCAN_DISK
		help
		  This option enables actions file play list scan in background iterator.
endchoice

config PLIST_SUPPORT_FOLDER_CNT
	int
	prompt "Play list folder count support"
	depends on ITERATOR
	default 100
	help
	  This option set the folder count support by the play list.

config ITERATOR_SUPPORT_FILE_CNT
	int
	prompt "Iterator support file summury number"
	depends on ITERATOR
	default 10000
	help
	  This option set the folder count support by the play list.


config SUPPORT_FILE_FULL_NAME
	bool
	prompt "Play list support file full name"
	depends on ITERATOR
	default n
	help
	  This option enables the file full name support.

