# Copyright (c) 2020 Intel Corporation.
# SPDX-License-Identifier: Apache-2.0

config POWEROFF_SIMULATOR
	bool
	prompt "poweroff simulator"
	default n
	help
	  This option enable poweroff simulator support.

config POWEROFF_SIMULATOR_OTA
	bool
	prompt "poweroff simulator ota "
	default n
	help
	  This option enable poweroff simulator of ota module support.

config POWEROFF_SIMULATOR_NVRAM
	bool
	prompt "poweroff simulator NVRAM "
	default n
	help
	  This option enable poweroff simulator of NVRAM module support.

config POWEROFF_SIMULATOR_PROPERTY
	bool
	prompt "poweroff simulator property "
	default n
	help
	  This option enable poweroff simulator of property module support.