# Bluetooth GATT Battery service

# Copyright (c) 2018 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BT_FPMS
	bool "Enable Fast pair message stream service"
	default n

config BT_FPMS_LOG_LEVEL
	int "Fast pair message stream service log level"
	depends on LOG
	range 0 4
	default 0
	depends on BT_FPMS
	help
	  Sets log level for the Fast pair message stream service.
	  Levels are:
	  0 OFF, do not write
	  1 ERROR, only write LOG_ERR
	  2 WARNING, write LOG_WRN in addition to previous level
	  3 INFO, write LOG_INF in addition to previous levels
	  4 DEBUG, write LOG_DBG in addition to previous levels
